@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* Font importing */
@font-face {
    font-family: 'PWIcons';
    src: url('../font/PWIcons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.es-logo {font-family: 'PWIcons'}
.es-logo:before {content: "G";}

/* resets */
body {
	height: 100%;
}


/* margin */
.margin_t_10 {margin-top: 10px;}
.margin_t_12 {margin-top: 12px;}
.margin_t_14 {margin-top: 14px;}
.margin_t_16 {margin-top: 16px;}
.margin_t_18 {margin-top: 18px;}
.margin_t_20 {margin-top: 20px;}
.margin_t_30 {margin-top: 30px;}
.margin_t_40 {margin-top: 40px;}

.margin_b_20 {margin-bottom: 20px;}
.margin_b_30 {margin-bottom: 30px;}
.margin_b_40 {margin-bottom: 40px;}
.margin_b_50 {margin-bottom: 50px;}

.margin_r_10 {margin-right: 10px;}


/* padding */
.padding_4 {padding: 4px;}

.padding_t_100 {padding-top: 100px;}

.padding_b_15 {padding-bottom: 15px;}
.padding_b_30 {padding-bottom: 30px;}


/* width and height */
.width_100p {width: 100%;}
.width_120 {width: 120px;}
.width_150 {width: 150px;}
.height_100 {height: 100px;}
.height_200 {height: 200px;}
.height_300 {height: 300px;}
.minheight_500 {min-height: 500px;}
.minheight_800 {min-height: 800px;}

@media (max-width:767px) {
	.height_150_xs {height: 150px;}
}

/* position */
.absolute {position: absolute;}
.relative {position: relative;}

/* display */
.block {display: block;}
.inline_block {display: inline-block;}
.inline {display: inline;}

/* Font size */
.text_16 {font-size: 16px;}
.text_18 {font-size: 18px;}
.text_20 {font-size: 20px;}
.text_30 {font-size: 30px;}
.text_40 {font-size: 40px;}
.text_46 {font-size: 46px;}
.text_50 {font-size: 50px;}
.text_70 {font-size: 70px;}
.text_100 {font-size: 100px;}
.text_150 {font-size: 150px;}
.text_170 {font-size: 170px;}

.line_27 {line-height: 27px;}

@media (max-width: 767px) {
	.text_36_s {
		font-size: 36px;
	}
}

/* Font Family */
.ubuntu {font-family: 'Ubuntu', Arial;}
.opensans {font-family: 'Open Sans', Arial;}

/* Font weight */
.weight_700 {font-weight: 700;}

.italic {font-style: italic;}

/* Color */
.white {color: white;}
.dodger_blue {color: #2096F3;}
.deep_sky_blue {color: #03A9F4;}
.fruit_salad {color: #4CAF50;}
.light_forest_green {color: #599E6C;}

/* Text */
.text_shadow_light {text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}
.text_shadow_medium {text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);}

.caps {text-transform: uppercase;}

.center {text-align: center;}

/* cursor */
.pointer {cursor: pointer;}


/* */
.boxcenter {margin-left: auto; margin-right: auto;}

/* Border */
.border_white_3 {border: 3px solid white;}
.border_solid_lightgrey_3 {border: 3px solid #DDD;}

/* hover effects */
.hover_blue {
	transition: color 0.5s ease;
}
.hover_blue:hover {
	color: #6CA3E8;
}

/* links */
a.nostyle {
	text-decoration: inherit;
	color: inherit;
}
a.nostyle:hover {
	text-decoration: inherit;
	color: inherit;
}

/* shadows */
.inset_shadow {
	-webkit-box-shadow: inset 0px 0px 20px 1px rgb(136,136,136);
	-moz-box-shadow: inset 0px 0px 20px 1px rgb(136,136,136);
	box-shadow: inset 0px 0px 20px 1px rgb(136,136,136);
}

/* background */
.bg_white {background-color: white;}
.bg_wild_sand {background-color: #F5F5F5;}
.bg_dodger_blue {background-color: #2096F3;}
.bg_deep_sky_blue {background-color: #03A9F4;}
.bg_fruit_salid {background-color: #4CAF50;}
.bg_dark_20 {
	background-color: transparent;
	background-color: rgba(0,0,0,0.2);
}
.bg_dark_50 {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.5);
}

/* placeholder color */
.placeholder_white::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFFFFF;
}
.placeholder_white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #FFFFFF;
   opacity: 1;
}
.placeholder_white::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #FFFFFF;
   opacity: 1;
}
.placeholder_white:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #FFFFFF;
}


/* specials */

.curtain {
	height: auto;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

