{{define "navbar"}}

<nav id="main_nav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav_content" aria-expanded="false" aria-controls="main_nav_content">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="es-logo text_50 relative"></span></a>
		</div>
		<div id="main_nav_content" class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#anchor0">Home</a>
				</li>
				<li>
					<a href="#anchor1">About</a>
				</li>
				<li>
					<a href="#anchor2">Project</a>
				</li>
				<li>
					<a href="#anchor3">Project</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
				<!-- <li class="dropdown"> -->
					<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
					<!-- <ul class="dropdown-menu" role="menu"> -->
						<!-- <li><a href="#anchor3">Action</a></li> -->
						<!-- <li><a href="#anchor4">Another action</a></li> -->
						<!-- <li><a href="#anchor5">Something else here</a></li> -->
						<!-- <li class="divider"></li> -->
						<!-- <li class="dropdown-header">Nav header</li> -->
						<!-- <li><a href="#anchor6">Separated link</a></li> -->
						<!-- <li><a href="#anchor7">One more separated link</a></li> -->
					<!-- </ul> -->
				<!-- </li> -->
			</ul>
			<!--
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
				<li><a href="../navbar-static-top/">Static top</a></li>
				<li><a href="../navbar-fixed-top/">Fixed top</a></li>
			</ul>
			-->
		</div><!--/.nav-collapse -->
	</div>
</nav>

{{end}}
